.budget-plan-card {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px; /* Increased base font size */
  color: #043F2D;
  background-color: #fcfcf9;
  border-radius: 7px;
  overflow: hidden;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px; /* Adjusted width */
  height: 500px; /* Adjusted height */
  
  .header-content {
    display: flex;
    align-items: center;
    
    .small-image {
      width: 50px;
      height: 50px;
      border-radius: 7px;
    }

    .header-text {
      margin-left: 10px;

      mat-card-title {
        font-size: 22px; /* Increased font size */
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif; /* Ensure font is applied */
      }

      mat-card-subtitle {
        font-size: 16px; /* Increased font size */
        color: #043F2D;
        font-family: 'Roboto Condensed', sans-serif; /* Ensure font is applied */
      }
    }
  }

  .mat-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    .description {
      text-align: justify;
      margin: 30px 0; /* Increased margin for spacing */
      padding: 10px; /* Add padding inside the description */
      overflow: hidden; /* Prevent overflow */
      text-overflow: ellipsis; /* Add ellipsis for overflow text */
      display: -webkit-box;
      -webkit-line-clamp: 6; /* Limit to 6 lines */
      -webkit-box-orient: vertical;
      font-size: 16px; /* Increased font size */
      line-height: 1.6; /* Increased line height for better readability */
      font-family: 'Roboto Condensed', sans-serif; /* Ensure font is applied */
    }

    p {
      margin: 0 0 20px 0; /* Increased margin between paragraphs */
      font-family: 'Roboto Condensed', sans-serif; /* Ensure font is applied */
    }
  }

  .mat-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .details-button {
      margin-left: auto; /* To align on the right */
    }

    .edit-button {
      margin-right: auto; /* To align on the left */
    }
  }
}

.details-button, .edit-button {
  color: #043F2D !important; /* Override Angular Material color */
  background: none !important; /* Override Angular Material background */
  border: none;
  cursor: pointer;
  border-radius: 7px;
  transition: background-color 0.3s, color 0.3s;
  width: 135px; /* Fixed width */
  height: 45px; /* Fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px; /* Increased font size for buttons */
  font-family: 'Roboto Condensed', sans-serif; /* Ensure font is applied */
  
  &:hover {
    background-color: #2A6F2C !important; /* Override Angular Material background */
    color: #fcfcf9 !important; /* Override Angular Material color */
  }
}
