.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.plan-card, .category-card {
  flex: 1;
  min-width: 0;
  border-radius: 7px;
  margin: 20px;
  padding: 20px;
  font-size: 1.2rem;
  color: #043F2D;
  min-width: 300px;
  background-color: #FCFCF9 !important;
  position: relative;
}

.plan-card {
  margin-bottom: 20px;
}

.plan-card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 20px;
  margin-left: 20px;
}

.plan-card mat-card-title {
  font-size: 2rem;
  line-height: 50px;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.plan-card .cancel-button, .plan-card .export-button {
  background: none;
  border: none;
  border-radius: 7px;
  color: #043F2D;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.plan-card .cancel-button:hover, .plan-card .export-button:hover {
  background-color: #043F2D;
  color: #FCFCF9;
}

.category-card .categories {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.category-card .category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 120px;
}

.category-card .category-button {
  font-size: 16px;
  color: #043F2D;
  background: none;
  border: none;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  width: 140px;
  text-align: center;
  transform: translateX(-5px);
}

.category-card .category-button:hover {
  background-color: #043F2D;
  color: #FCFCF9;
}

.no-plan-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #043F2D;
  font-size: 1.2rem;
  min-height: 30vw;
}

.floating-indicator-wrapper {
  position: absolute;
  top: -40px;
  right: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-transactions-button {
  background: none;
  border: none;
  color: #043F2D;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 7px;
  transition: background-color 0.3s, color 0.3s;
}

.view-transactions-button:hover {
  background-color: #043F2D;
  color: #FCFCF9;
}

