<div class="container">
  <!-- Plan Card -->
  <mat-card class="plan-card" *ngIf="currentPlan">
    <mat-card-header style="display: flex; align-items: center;">
      <img mat-card-image [src]="currentPlan.image" alt="{{ currentPlan.plan_name }}">
      <mat-card-title>{{ currentPlan.plan_name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ currentPlan.description }}</p>
      <div class="mat-card-actions">
        <p><strong>Total Amount:</strong> {{ currentPlan.totalAmount }} &euro;</p>
        <button class="cancel-button" (click)="openCancelDialog()">Cancel Your Current Plan</button>
      </div>
    </mat-card-content>
    <div class="floating-indicator-wrapper">
      <app-fluid-indicator [value]="averagePercentage"></app-fluid-indicator>
    </div>
  </mat-card>
  
  <!-- Categories Card -->
  <mat-card class="category-card" *ngIf="currentPlan">
    <mat-card-header style="display: flex; justify-content: space-between; align-items: center;">
      <mat-card-title>Categories</mat-card-title>
      <button class="view-transactions-button" (click)="goToDetails()">View Transactions</button>
    </mat-card-header>
    <mat-card-content>
      <div class="categories">
        <div *ngFor="let category of categoriesWithDetails; let i = index" class="category-item">
          <button class="category-button" (click)="openCategoryDetails(category.name)">
            {{ category.name }}
          </button>
          <app-fluid-indicator [value]="getRoundedPercentage(category.spent, category.price)"></app-fluid-indicator>
          <div class="category-details">{{ category.spent }}/{{ category.price }} &euro;</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- No Plan Message -->
  <div *ngIf="!currentPlan" class="no-plan-message">
    <p>No budget plan this month. Choose one <a [routerLink]="['/budget-plans']">here</a>.</p>
  </div>
</div>
