.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}


.details-card {
  display: flex;
  gap: 16px;
}

.card-container {
  display: flex;
  flex: 1;
}

.plan-card, .transactions-card {
  flex: 1;
  padding: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

