<div class="container">
  <button id="backbtn" *ngIf="isDetailedView" (click)="goBack()">←</button>

  <mat-card class="plan-card" *ngIf="isDetailedView">
    <mat-card-header id="firstcard"style="display: flex; align-items: center; ">
      <img mat-card-image [src]="selectedPlan?.image" alt="{{ selectedPlan?.plan_name }}">
      <mat-card-title>{{ selectedPlan?.plan_name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ selectedPlan?.description }}</p>
      <div class="mat-card-actions">
        <button class="export-button" (click)="exportPlan()">Export Plan</button>

      </div>

    </mat-card-content>
    <div class="floating-indicator-wrapper">
      <app-fluid-indicator [value]="averagePercentage"></app-fluid-indicator>
      <p> <b>{{selectedPlan?.amountSpent}}/{{ selectedPlan?.totalAmount }} &euro;</b></p>

    </div>
  </mat-card>

  <mat-card class="category-card" *ngIf="isDetailedView">
    <mat-card-header class="category-header">
      <mat-card-title>Categories</mat-card-title>
      <button class="view-transactions-button" (click)="goToDetails()">View History Details</button>
    </mat-card-header>
    <mat-card-content>
      <div class="categories">
        <div *ngFor="let category of categoriesWithDetails; let i = index" class="category-item">
          <button class="category-button" (click)="openCategoryDetails(category.name)">
            <b>{{ category.name }}</b>
          </button>
          <app-fluid-indicator [value]="getRoundedPercentage(category.spent, category.price)"></app-fluid-indicator>
          <div class="category-details"><b>{{ category.spent }}/{{ category.price }}&euro;</b></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div *ngIf="!isDetailedView && historyPlans.length === 0" class="no-plan-message">
    <p>No budget plans in History. Your current plan will be automatically added when it ends.</p>
  </div>

  <div class="history-container" *ngIf="!isDetailedView && historyPlans.length > 0">
    <div class="history-header">
      Choose a Plan from History
    </div>
    <ng-container id="list">
      <mat-card class="history-card">
        <mat-card-content>
          <div class="plans-list">
            <button mat-raised-button *ngFor="let plan of historyPlans" (click)="onPlanSelect(plan)">
              {{ plan.plan_name }} ({{ plan.date | date:'shortDate' }})
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
  

