.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.plan-card, .category-card {
  flex: 1;
  border-radius: 7px;
  margin: 20px;
  padding: 20px;
  font-size: 1.2rem;
  color: #043F2D;
  min-width: 300px;
  background-color: #FCFCF9 !important;
  position: relative;
}


.plan-card {
  margin-bottom: 20px;
}

.plan-card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 20px;
  margin-left: 20px;
}

.plan-card mat-card-title {
  font-size: 2rem;
  line-height: 50px;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}



 .plan-card .export-button:hover, #transaction:hover {
  background-color: #2A6F2C;
  color: #FCFCF9;
}
.plan-card .cancel-button:hover{
  background-color: #d60707;
  color: #FCFCF9;
}

mat-card-content p {
  margin-left: 20px;
}
mat-card-header{

  font-size: 32px;
  font-weight: bold;
}

.category-card .categories {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.category-card mat-card-content{
  margin-top: 30px;
}

.category-header{
  display: flex;
  justify-content: space-between;
}

.category-card .category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 120px;
}

#categories{
  font-size: 2rem;
}
.category-card .category-button {
  font-size: 16px;
  color: #043F2D;
  background: none;
  border: none;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  width: 160px;
  text-align: center;
  transform: translateX(-5px);
  white-space: nowrap; 

}

.category-card .category-button:hover {
  background-color: #2A6F2C;
  color: #FCFCF9;
}

.no-plan-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #043F2D;
  font-size: 1.2rem;
  min-height: 30vw;
}

.category-details{
  margin-top:15px;
}

.floating-indicator-wrapper {
  position: absolute;
  top: -40px;
  right: 45px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.view-transactions-button, .export-button {
  background-color: #2A6F2C;
  color: #FCFCF9;
  border:none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 7px;
}


.history-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh; /* Full viewport height */
  position: relative; /* Ensure the header is positioned relative to this container */
}

.history-header {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  font-size: 32px;
  color: #043F2D;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  z-index: 1; /* Ensure it appears above other content */
}

.history-card {
  display: flex;
  flex-direction: column; /* Ensure buttons are stacked vertically */
  align-items: center;
  min-width: 400px;
  margin-top: 70px;
  min-height: 500px;
  border-radius: 7px;
}

.plans-list {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Optional: add space between buttons */
}

/* Styles for buttons in the history list */
.plans-list button {
  border-radius: 7px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.plans-list button:hover {
  background-color: #2A6F2C; 
  color: #FCFCF9; 
}

#firstcard{

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

}

#backbtn {
  width: 48px;
  height: 48px;
  border:none;
  font-size: 24px;
  background-color: transparent;
  color: #043F2D;
  border-radius: 50%;
  padding: 8px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  z-index: 1; 
}


#backbtn:hover {
  background-color: #2A6F2C; 
  color: #fcfcf9; 
}
