<div class="green-stripe">
  <button mat-icon-button class="close-btn" (click)="onClose()">
x  </button>
</div>
<h1 mat-dialog-title class="dialog-title"><b>Create New Budget Plan</b></h1>
<div mat-dialog-content class="dialog-content">
  <div class="general-details-section">
    <div class="general-details-header">
      <h3>General Details</h3>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input id="plan-name" matInput [(ngModel)]="newPlan.name" placeholder="Enter plan name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea id="plan-description" matInput [(ngModel)]="newPlan.description" placeholder="Enter plan description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <input id="plan-icon" matInput [(ngModel)]="newPlan.imagine" placeholder="Enter image URL">
    </mat-form-field>
  </div>

  <div class="categories-section">
    <div class="categories-header">
      <h3>Categories</h3>
      <button id="add-category" mat-icon-button class="add-category" (click)="addCategory()">+</button>
    </div>
    <div *ngFor="let category of newPlan.categories; let i = index; trackBy: trackByIndex" class="category-row">
      <mat-form-field appearance="fill">
        <mat-label>Category Name</mat-label>
        <input id="category-name" matInput [(ngModel)]="newPlan.categories[i].name" placeholder="Enter category name">
        <button id="delete-category" mat-icon-button matSuffix (click)="removeCategory(i)" class="delete-category-button">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions class="dialog-actions">
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <button mat-raised-button class="save-btn" (click)="onSave()">Save</button>
</div>
