body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(180deg, #FCFCF9 0%, #E8FFDD 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  justify-content: center;
  background-color: #FCFCF9;
  height: 463px;
  width: 413px;
  border-radius: 7px;
}

.login-container img.login-logo {
  width: 73px;
  height: 130px;
  margin-bottom: 20px;
}

.login-container h1 {
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #043F2D
}

.login-container input {
  font-family: 'Roboto Condensed', sans-serif;
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 7px;

  border: 1px solid #d9d9d9;

  color: #043F2D;
}

.login-container button {
  //width: 100%;
  padding: 10px;
  background-color: #2A6F2C;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  height: 44px;
  width: 155px;
  font-family: 'Roboto Condensed', sans-serif;
}

.login-container button:hover {
  opacity: 0.8;
}

.login-container p{
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #043F2D
}
