<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login.component.scss">
  <title>Sign In</title>
</head>
<body>
<div class="container">
  <img src="assets/signup.svg" alt="Logo" class="login-logo">
  <div class="login-container">
    <h1 id="signin">SIGN IN</h1>
    <p>Don't have an account? <a (click)="redirectToSignUp()" class="sign-up-button">Sign up!</a></p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="email" placeholder="Email" id="email">
      <div *ngIf="submitted && f.email.errors" class="error">
        <span *ngIf="f.email.errors.required">Email is required.</span>
        <span *ngIf="f.email.errors.email">Invalid email format.</span>
      </div>
      <input type="password" formControlName="password" placeholder="Password" id="password">
      <div *ngIf="submitted && f.password.errors" class="error">
        <span *ngIf="f.password.errors.required">Password is required.</span>
        <span *ngIf="f.password.errors.minlength">Password must be at least 6 characters long.</span>
      </div>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>   
      <button type="submit" id="login">Login</button>
    </form>
  </div>
</div>
</body>
</html>
