<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="register.component.scss">
  <title>Sign Up</title>
</head>
<body>
<div class="container">
  <img src="assets/signin.svg" alt="Logo" class="login-logo">
  <div class="register-container">
    <h1>SIGN UP</h1>
    <p>Already have an account? <a (click)="redirectToLogin()" class="login-button">Log in!</a></p>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="name" placeholder="Name">
      <input type="email" formControlName="email" placeholder="Email">
      <input type="text" formControlName="phone" placeholder="Phone number">
      <input type="password" formControlName="password" placeholder="Password">
      <input type="password" formControlName="confirmPassword" placeholder="Confirm password">
      <button type="submit" class="submit-button">Submit</button>
    </form>
  </div>
</div>
</body>
</html>
