<div class="container">
  <h2>Statistics</h2>
  <div class="statistics-card">

    <div class="statistics-layout">
      <div class="statistics-section">
        <div class="statistics-item-card">
          <h3>Most Used Plan</h3>
          <p>{{ statistics.mostUsedPlanName }}</p>
        </div>

        <div class="statistics-item-card">
          <h3>Biggest Transaction Forever</h3>
          <p>Name: {{ statistics.biggestTransactionNameForever }}</p>
          <p>Amount: {{ statistics.biggestTransactionAmountForever | currency }}</p>
        </div>

        <div class="statistics-item-card">
          <h3>Smallest Transaction Forever</h3>
          <p>Name: {{ statistics.smallestTransactionNameForever }}</p>
          <p>Amount: {{ statistics.smallestTransactionAmountForever | currency }}</p>
        </div>

        <div class="statistics-item-card">
          <h3>Biggest Transaction in Current Plan</h3>
          <p>Name: {{ statistics.biggestTransactionNameCurrentPlan }}</p>
          <p>Amount: {{ statistics.biggestTransactionAmountCurrentPlan | currency }}</p>
        </div>

        <div class="statistics-item-card">
          <h3>Smallest Transaction in Current Plan</h3>
          <p>Name: {{ statistics.smallestTransactionNameCurrentPlan }}</p>
          <p>Amount: {{ statistics.smallestTransactionAmountCurrentPlan | currency }}</p>
        </div>

        <div class="statistics-item-card">
          <h3>First Category Full</h3>
          <p>{{ statistics.firstCategoryFull }}</p>
        </div>

        <div class="statistics-item-card">
          <h3>Total Money</h3>
          <p>{{ statistics.totalMoney | currency }}</p>
        </div>

        <div class="statistics-item-card">
          <h3>Spent Money</h3>
          <p>{{ statistics.spendMoney | currency }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
