<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="contact-us.component.scss">
  <title>Contact us</title>
</head>
<body>
<div class="container">
  <img src="../../assets/contactus.svg" alt="Logo" class="login-logo">
  <div class="contact-us-container">
    <h1>LET'S GET IN TOUCH!</h1>
    <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="firstName" placeholder="First name">
      <input type="text"  formControlName="lastName" placeholder="Last name">
      <input type="text" formControlName="email"  placeholder="Email">
      <input type="text" formControlName="message"  placeholder="Message">
      <button type="submit" class="submit-button">Submit</button>
    </form>
  </div>
</div>
</body>
</html>
