.footer {
  background: rgb(4,63,45);
  background: linear-gradient(90deg, rgba(4,63,45,1) 0%, rgba(4,63,45,1) 35%, rgba(42,111,44,1) 100%);
  padding: 20px;
  color: #FCFCF9;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: auto;
  position: sticky;
}

.footer-content {
  display: flex;
  flex-direction: row;
  //align-items: left;
  text-align: left;
  justify-content: space-between;
}

.footer-section {
  margin: 10px 0;
  max-width: 800px;
  width: 100%;
}

.footer-section h2,
.footer-section h3,
.footer-section h4 {
  margin: 10px 0;
}

.footer-section p {
  margin: 5px 0;
  font-size: 12px;
}

.brand h1 {
  margin: 0;
  font-size: 24px;
}

.legal-links a {
  color: #FCFCF9;
  text-decoration: none;
  margin: 0 24px;
  font-size: 14px;
}

.legal-links a:hover {
  text-decoration: underline;
}

.contact-info .social-media a {
  color: #FCFCF9;
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
}

.join_sign_up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.email {
  font-size: 14px;
}

.email input {
  color: #FCFCF9;
  background-color: #2A6F2C;
  border-color: #FCFCF9;
  border-radius: 7px;
  height: 35px;
  width: 150spx;
  margin-right: 40px;
}

::placeholder {
  color: #FCFCF9;
}

.logo_and_links {
  display: flex;
  flex-direction: row;
}

button {
  color: #FCFCF9 !important;
  border-radius: 7px;
}

//we love that we don't respect other's work. peace as you say.
.right {
  .newsletter {
    .join_sign_up {
      .sign_up {
        background-color: transparent;
        color: #FCFCF9;
        border: 1px solid #FCFCF9;
        height: 40px;
        width: 125px;
      }
      .sign_up:hover {
        background-color: #FCFCF9;
        color: #043F2D !important;
        border-color: #043F2D;
        height: 40px;
        width: 125px;
        
      }
    }
  }
}


.newsletter button {
  background-color: transparent;
  color :#FCFCF9;
  border: 1px solid #FCFCF9;
  height: 40px;
  width: 125px;
}

.newsletter button:hover{
  background-color: #FCFCF9;
  color: #043F2D !important;
  border-color: #043F2D;
  height: 40px;
  width: 125px;
}
