<header>
    <nav mat-tab-nav-bar>
        <a mat-tab-link [routerLink]="['/account-settings']">Account Settings</a> 
        <a mat-tab-link [routerLink]="['/quick-view']">Quick View</a> 
        <a mat-tab-link [routerLink]="['/current-plan']">Current Plan</a> 
        <a mat-tab-link [routerLink]="['/category-details']">Category Details</a> 
        <a mat-tab-link [routerLink]="['/history']">History</a>
        <a mat-tab-link [routerLink]="['/statistics']">Statistics</a> 
    </nav>
</header>
