<div class="container">
  <div>
    <button mat-icon-button (click)="goBack()" class="back-button">
      ←
    </button>
  </div>

  <mat-card class="details-card">
    <mat-card-header>
  </mat-card-header>
    <mat-card-content>
      <div class="filter-indicator-container">

        <div class="filters">
          <mat-form-field appearance="fill" class="filter">
            <mat-label>Filter by Category</mat-label>
            <mat-select [(value)]="selectedCategory" (selectionChange)="filterTransactions()">
              <mat-option value="all">All</mat-option>
              <mat-option *ngFor="let category of categoriesWithDetails" [value]="category.name">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field appearance="fill" class="filter">
            <mat-label>Sort by</mat-label>
            <mat-select [(value)]="sortCriteria" (selectionChange)="sortTransactions()">
              <mat-option value="dateAsc">Date Ascending</mat-option>
              <mat-option value="dateDesc">Date Descending</mat-option>
              <mat-option value="amountAsc">Amount Ascending</mat-option>
              <mat-option value="amountDesc">Amount Descending</mat-option>
              <mat-option value="nameAsc">Name Ascending</mat-option>
              <mat-option value="nameDesc">Name Descending</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div id="data">
          <app-fluid-indicator 
            [value]="selectedCategory === 'all' ? averagePercentage : getRoundedPercentage(selectedCategoryDetails?.spent ?? 0, selectedCategoryDetails?.price ?? 0)">
          </app-fluid-indicator>
          <div class="category-summary">
            <ng-container *ngIf="selectedCategory === 'all'; else specificCategory">
              <div class="category-details">
                <p id="percentage"><b>{{ totalSpent }}/{{ totalPrice }}&euro;</b></p>
              </div>
            </ng-container>
            <ng-template #specificCategory>
              <div class="category-details">
                <p><b>{{ selectedCategoryDetails?.spent }}/{{ selectedCategoryDetails?.price }}&euro;</b></p>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      

      





      

      <table class="regular-table">
        <thead>
          <tr>
            <th *ngIf="selectedCategory === 'all'">Category</th>
            <th>Transaction Name</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of displayedTransactions">
            <td *ngIf="selectedCategory === 'all'">{{ transaction.category }}</td>
            <td>{{ transaction.name }}</td>
            <td>{{ transaction.amount}}&euro;</td>
            <td>{{ transaction.date | date:'shortDate' }}</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="displayedTransactions.length === 0">
        <p>No transactions</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
