@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.container {
  padding: 20px;
  font-family: 'Roboto Condensed', sans-serif; 
  position: relative; 
  margin-bottom: 400px;
}

.details-card {
  width: 70%; 
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto; 
  padding: 16px; 
  background-color: #fcfcf9; 
}

.mat-card-header {
  background-color: #388e3c;
  color: #fcfcf9;
  border-radius: 8px 8px 0 0;
  padding: 16px;
}

.category-details-title {
  font-size: 28px; 
  font-weight: 700;
}

.mat-card-content {
  padding: 16px; 
}

#percentage{
  font-weight: bold !important;
}

.filter-indicator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 
}

.filters {
  display: flex;
  gap: 20px; 

  margin-top: 20px;
}

.filters[_ngcontent-ng-c1472880296] {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
app-fluid-indicator{
  width: 100px;
  height:100px;
}

.regular-table {
  width: calc(100% - 30px); 
  border-collapse: collapse;
  font-size: 18px; 
  margin: 16px auto; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  overflow: hidden; 
}

.regular-table th,
.regular-table td {
  padding: 16px 24px; 
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.regular-table th {
  background-color: #e8f5e9; 
  color: #043F2D; 
  font-weight: 600;
  font-size: 18px; 
}

.regular-table tr {
  transition: background-color 0.3s ease;
}

.regular-table tr:hover {
  background-color: #e8f5e9; 
}

.regular-table td {
  vertical-align: middle;
  font-size: 18px; 
}

.back-button {
  position: absolute; 
  top: 16px; 
  left: 16px; 
  color: #043F2D; 
  border-radius: 50%; 
  padding: 8px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  z-index: 1; 
}

.back-button:hover {
  background-color: #2A6F2C; 
  color: #fcfcf9; 
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;

}
.category-details{
  margin-left:20px;
}
