<div class="container">
    <mat-card class="details-card">
      <mat-card-header>
        <mat-card-title>Category Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="categories-list">
          <div *ngFor="let item of categoriesWithDetails" class="category-item">
            <p><strong>Category:</strong> {{ item.name }}</p>
            <p><strong>Price:</strong> {{ item.price }}</p>
            <p><strong>Spent:</strong> {{ item.spent }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  