@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

.container {
  padding: 20px;
  font-family: 'Roboto Condensed', sans-serif; 
  position: relative; /* To position the back button absolutely */
  margin-bottom: 400px;
}

.details-card {
  width: 70%; /* Adjusted to fit within container */
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Center the card horizontally with margin auto */
  padding: 16px; /* Add padding inside the card */
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.regular-table {
  width: calc(100% - 30px); /* Full width minus some padding to center */
  border-collapse: collapse;
  font-size: 18px; /* Increase font size */
  margin: 16px auto; /* Center the table with auto margin */
  
  th, td {
    padding: 16px 24px; /* Increase padding for larger columns */
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #e8f5e9; 
    color: #388e3c; 
    font-weight: 600;
    font-size: 18px; /* Increase font size */
  }

  tr {
    transition: background-color 0.3s ease;
  }

  tr:hover {
    background-color: #e8f5e9; 
  }

  td {
    vertical-align: middle;
    font-size: 18px; /* Increase font size */
  }
}

.mat-card-content {
  padding: 0; /* Remove padding to fit the table better */
}

.mat-card-header {
  background-color: #388e3c;
  color: #fff;
  border-radius: 8px 8px 0 0;
  padding: 16px;
}

.mat-card-title {
  font-size: 24px;
  font-weight: 700;
}

.mat-card-content p {
  font-size: 16px;
  color: #333;
}

.back-button {
  position: absolute; /* Position it absolutely within the container */
  top: 16px; /* Space from the top */
  left: 16px; /* Space from the left */
  color: #000; /* Default color */
  background-color: #e0e0e0; /* Background color */
  border-radius: 50%; /* Make the button circular */
  padding: 8px; /* Add some padding */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
  z-index: 1; /* Ensure the button is above other content */
  
  &:hover {
    background-color: #4caf50; /* Green background on hover */
    color: #fff; /* White color on hover */
  }
}
