<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8"> 
      <title>Account Settings</title>
    </head>
    <body>
        <div class="account-settings">
            <div class="account-settings-content">
                <h2>Account Settings</h2>
                <div class="personal-information-section">
                    <h3>Personal Information</h3>
                    <form class="personal-information" [formGroup]="personalInformationForm" (ngSubmit)="onSubmitPersonalInfo()">
                        <section class="name-phone">
                            <div class="name">
                                <label>Full Name</label>
                                <input type="text" formControlName="fullname" placeholder="James Smith">
                            </div>
                            
                            <div class="phone-number">
                                <label>Phone Number</label>
                                <input type="text" formControlName="phone" placeholder="+40123456789">       
                            </div>
                        </section>
                        <div class="email">
                            <label>Email Address</label>
                            <input type="text" formControlName="email" placeholder="jamessmith@example.com">
                        </div>
                    
                        <button mat-raised-button type="submit">Save Changes</button>
                    </form>
                </div>
                <div class="change-password-section">
                    <h3>Change Password</h3>
                    <form class="change-password" [formGroup]="changePasswordForm" (ngSubmit)="onSubmitPassword()">
                        <div class="current-password">
                            <label>Current Password</label>
                            <input type="password" formControlName="currentPassword" placeholder="Current password">

                        </div>

                        <div class="new-password">
                            <label>New Password</label>
                            <input type="password" formControlName="newPassword" placeholder="New password">
                        </div>

                        <div class="confirm-new-password">
                            <label>Confirm New Password</label>
                            <input type="password" formControlName="confirmNewPassword" placeholder="Confirm new password">
                        </div>
        
                        <button type="submit" mat-raised-button color="primary">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
  