body {
  display: flex;
  flex-direction: column;
  background: rgb(232, 255, 221);
  background: linear-gradient(0deg, rgba(232, 255, 221, 1) 0%, rgba(252, 252, 249, 1) 100%);
}

.account-settings {
  padding: 20px;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
}

.account-settings-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  overflow-y: hidden;
  width: 900px; /* Increased width */
}

h2, h3 {
  color: #043F2D;
}

button {
  background-color: #2A6F2C !important;
  color: #FCFCF9 !important;
  width: 165px;
  height: 44px;
}

.personal-information-section, .change-password-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.personal-information, .change-password {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.name, .phone-number, .email, .current-password, .new-password, .confirm-new-password {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name-phone {
  display: flex;
  flex-direction: row;
  gap: 92px;
}

.mat-form-field {
  width: 300px !important;
}

.email .mat-form-field, .change-password .mat-form-field {
  width: 700px !important; /* Ensure consistent width with !important */
}

mat-card {
  background-color: #FCFCF9;
  padding: 20px;
  width: 100%; /* Ensure the card takes the full width of the container */
}
