@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}


