.mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.green-stripe {
  height: 60px;
  background-color: #2A6F2C;
  width: 100%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: #FCFCF9;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.close-btn:hover {
  color: #2A6F2C;
  background-color: #FCFCF9;
  border-color: #FCFCF9;
  border-radius: 50%;
}

.categories-section, .general-details-section {
  margin-top: 16px;
}

.categories-header, .general-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #2A6F2C;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.category-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

mat-form-field {
  width: 100%;
}

mat-raised-button {
  margin-left: 8px;
}

mat-label {
  font-weight: bold;
}

.cancel-create {
  color: #2A6F2C !important;
}

.delete-category-button {
  color: inherit;
  cursor: pointer;
}

.delete-category-button:hover {
  color: #D60707;
}

.delete-btn {
  color: #043F2D !important;
  font-size: 1.2em;
  padding: 10px 20px;
  width: 130px;
  text-align: center;
  border-radius: 7px;

  margin-bottom: 20px;
  transition: background-color 0.3s, color 0.3s;
}
.delete-btn:hover {
  color: #fcfcf9 !important; 
  background-color: #D60707;


}

.dialog-title {
  font-size: 32px;
  margin-top: 32px;
}

.error-message {
  color: red;
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
}

.dialog-actions {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.save-btn {
  color: #fff !important;
  background-color: #2A6F2C !important;
  font-size: 1.2em;
  padding: 10px 20px;
  width: 130px;
  text-align: right;
  border-radius: 7px;  
  margin-right: 32px;
  margin-left: 20px;
  margin-bottom: 20px;

}

.cancel-btn {
  color: #2A6F2C !important;
  font-size: 1.2em;
  padding: 10px 20px;
  width: 130px;
  text-align: left;

  transition: background-color 0.3s, color 0.3s;
}

.add-category {
  font-size: 24px;
  padding: 9px 18px;
  background-color: #2A6F2C !important;
  color: #FCFCF9 !important;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.add-category:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.general-details-header h3,
.categories-header h3 {
  color: #043F2D;
}
