<mat-toolbar class="header">
  <span class="logo">
    <img src="assets/logo.png" alt="SpendWise Logo" height="40" />
  </span>
  <span class="spacer"></span>
  <nav class="nav-menu">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/budget-plans">Budget Plans</a>
    <a mat-button routerLink="/our-team">About Us</a>
    <a mat-button routerLink="/contact-us">Get in Touch</a>
  </nav>
  <span class="spacer"></span>
  <div class="auth-buttons" *ngIf="!user; else loggedIn">
    <a mat-button class="log-in" id="login" href="/auth/login">Log In</a>
    <a mat-raised-button color="primary" class="sign-up" href="/auth/register">Sign Up</a>
    <a  mat-button class="log-out" id="logout" (click)="logout()">Log Out</a>
  </div>
  <ng-template #loggedIn>

    <div class="user-info">
      <a  mat-button class="log-out" id="logout" (click)="logout()">Log Out</a>
      <a mat-button  routerLink="/dashboard">Dashboard</a>

      <img src="assets/profile.svg" alt="User Image" height="40" />
      <span *ngIf="user">{{ user.name }}</span>
      
    </div>
  </ng-template>
</mat-toolbar>
