<mat-toolbar class="header">
    <span class="logo">
      <img src="assets/logo.png" alt="SpendWise Logo" height="40" />
    </span>
    <span class="spacer"></span>
    <nav class="nav-menu">
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/financial-planner">Financial Planner</a>
      <a mat-button routerLink="/budget-plans">Budget Plans</a>
      <a mat-button routerLink="/about-us">About Us</a>
      <a mat-button routerLink="/get-in-touch">Get in Touch</a>
    </nav>
    <span class="spacer"></span>
    <div class="auth-buttons">
      <button mat-button class="log _in">Log In</button>
      <button mat-raised-button color="primary" class="sign_up">Sign Up</button>
    </div>
</mat-toolbar>