nav {
  background-color: transparent;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: 15px;

}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #043F2D;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 7px;
  transition: background-color 0.3s, color 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 122px;
}

nav a.active {
  color: #ffffff;
  background-color: #2A6F2C;
}

nav a:hover {
  color: #ffffff;
  background-color: #2A6F2C;

}
