<nav>
  <ul>
    <li><a routerLink="account-settings" routerLinkActive="active">Account Settings</a></li>
    <li><a routerLink="category-details" routerLinkActive="active">Category Details</a></li>
    <li><a routerLink="current-plan" routerLinkActive="active">Current Plan</a></li>
    <li><a routerLink="history" routerLinkActive="active">History</a></li>
    <li><a routerLink="manage-plans" routerLinkActive="active">Manage Plans</a></li>
  </ul>
  <button mat-raised-button color="primary" (click)="openTransactionModal()">Add Transaction</button>
</nav>
<router-outlet></router-outlet>
