<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="our-team.component.scss">
  <title>Contact us</title>
</head>
<body>
<div class="flex-container">
  <h1>Meet Our Team</h1>
  <p class="intro-text">We thought of the countless times we've struggled to keep our expenses in check and realized the need for a smarter solution. That’s why we created Spendwise, an innovative application designed to help you take control of your finances like never before. With Spendwise, tracking your spending and managing your budget has never been easier or more efficient.</p>
  <div class="team-members">
    <mat-card *ngFor="let member of members" class="team-member">
      <img mat-card-image [src]="member.imageUrl" [alt]="member.name">
      <p class="name">{{member.name}}</p>
      <mat-card-content>
        <p class="description">{{member.description}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <p class="version">SpendWise 1.0.0</p>
</div>
</body>
</html>

