body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //text-align: center;
}

.flex-container .team-members {
  display: flex;
  justify-content: center;
}

.flex-container .team-member {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  margin: 5px; /* Spațiu între membrii echipei */
  background-color: #f0f0f0; /* Culoare de fundal pentru vizualizare */
  border: 1px solid #ccc; /* Stil pentru a evidenția fiecare membru */
  flex: 1 0 auto; /* Fiecare membru va ocupa spațiu egal disponibil */
  max-width: calc(20% - 10px); /* Ajustare pentru a încăpea 5 pe rând */
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #043F2D
}

.flex-container h1 {
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #043F2D
}
