<h2 mat-dialog-title>Add Transaction</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="transactionName">
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select [(value)]="selectedCategory">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Value</mat-label>
    <input matInput type="number" [(ngModel)]="transactionValue">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>
