
.mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center; 
  padding: 20px; 
}

.green-stripe {
  height: 60px;
  background-color: #2A6F2C;
  width: 100%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: #FCFCF9;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.close-btn:hover {
  color: #2A6F2C;
  background-color: #FCFCF9;
  border-color: #FCFCF9;
  border-radius: 50%;
}

.dialog-title {
  font-size: 32px;
  margin: 24px 0; 
  color: #043F2D;
  text-align: center; 
}

.dialog-content {
  font-size: 16px;
  color: #043F2D;
  width: 100%; 
}

mat-form-field {
  width: 100%; 
}

.error-message {
  color: red;

  margin-top: 10px;
  text-align: center; 
}

.dialog-actions {
  margin-top: 32px;
  display: flex;
  justify-content: center; 
  gap: 8px;
}

.cancel-btn, .confirm-btn {
  border-radius: 7px;
  font-size: 1em;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.cancel-btn {
  background-color: transparent;
  color: #043F2D;
  border: none;
}

.cancel-btn:hover {
  background-color: #d60707;
  color: #FCFCF9;
}

.confirm-btn {
  background-color: #2A6F2C;
  color: #FCFCF9;
  border: none;
}
