<!-- transaction-modal.component.html -->
<h2 mat-dialog-title>Add Transaction</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input id="transaction-name" matInput [(ngModel)]="transactionName">
  </mat-form-field>
  
  <mat-form-field appearance="fill" id="transaction-category">
    <mat-label>Category</mat-label>
    <mat-select [(value)]="selectedCategory">
      <mat-option id="transaction-category-select" *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Value</mat-label>
    <input id="transaction-amount" matInput type="number" [(ngModel)]="transactionValue" (ngModelChange)="validateValue()">
  </mat-form-field>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button id="transaction-cancel" mat-button (click)="onCancel()">Cancel</button>
  <button id="transaction-save" mat-raised-button color="primary" (click)="onSave()" [disabled]="isInvalid">Save</button>
</mat-dialog-actions>
