body{
  height: 250%;
  display: flex;
  flex-direction: column;
  background: rgb(232,255,221);
  background: linear-gradient(0deg, rgba(232,255,221,1) 0%, rgba(252,252,249,1) 100%);
  font-family: 'Roboto Condensed', sans-serif;
  margin-left:20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;

  h1{
    color:#043F2D;
  }
  h3{
    color:#043F2D;
    font-size: 16px;
  }
  p{
    font-size: 14px;
  }
}


.first_page{
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  .left{
    padding-left: 24px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    .tips{
      width: 75%;
      border: 1px solid #043F2D;
      border-radius: 7px;
      margin-bottom: 24px;
      cursor: pointer;
      transition: background-color 0.8s;
      p{
        margin: 16px 32px 16px 16px;
        line-height: 1.5;
      }

      h3{
        margin-left: 16px;
      }

      .tips:hover {
        background-color: transparent;
      }
      .tips h3, .tips p {
        margin: 0;
      }

    }

    .begin{
      text-decoration: none;
      font-weight: 500;
      background-color: #2A6F2C;
      color: #FCFCF9;
      padding: 25px 40px;

      border-radius: 7px;
      transition: background-color 0.3s, color 0.3s;
    }
    
    .begin:hover {
      background-color: #2A6F2C;
      color: #FCFCF9;
    }
    .long_text{
      text-align: left;
      margin-top: 64px;
      margin-right: 100px;
      font-size: 16px;
      line-height: 30px;
    }
  }

  .right {
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    img{
      width: 60%;
      
    }
    p
    {
      font-size: 16px;
      width: 50%;
      margin-left:16px;
      text-align: center;
    }
    h3{
      margin:8px 100px 0px 92px;
    }
    .smart{
      justify-content: center;
      margin-top:160px;
    }

    .twoimages{
      display:flex;
      flex-direction: column;
      gap:24px;
    }
  }

}

.second_page {
  padding:0;
  margin:30px;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  background: transparent;
}

$animationSpeed : 15s;

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  animation: scroll $animationSpeed linear infinite;
  font-family: 'Roboto Condensed', sans-serif;
  width: 200%;
  border-radius: 7px;
  color: #043F2D;
  font-size: 16px;


  .header-content {
    display: flex;
    align-items: center;

    .small-image {
      width: 50px;
      height: 50px;
      border-radius: 7px;
    }
  }
}

.cards:hover {
  animation-play-state: paused;
}

mat-card {
  min-width: 500px;
  height: 500px;
  margin: 0 10px;
}

mat-card-title {
  padding-left: 12px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

mat-card-header {
  color: #043F2D;
  font-weight: bold;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-520px * 5))}
}

